.ui-h2 {
  margin: 0;
  font: 700 80px/1.25 $bebas;
  @include media-laptop {
    font-size: 45px;
  }
  @include media-tablet {
    font-size: 23px;
  }
  &--mb {
    &:not(:last-child) {
      margin-bottom: 70px;
      @include media-laptop {
        margin-bottom: 45px;
      }
      @include media-tablet {
        margin-bottom: 20px;
      }
    }
  }
  &--max-w {
    max-width: 1190px;
    @include media-laptop {
      max-width: unset;
    }
  }
  &--center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
