.footer {
  flex: 0 1;
  padding: 30px 0 15px;
  color: #fff;
  background: #2e2e2e;
  font-size: 14px;
  @include media-tablet {
    padding: 25px 0 12px;
  }
  &__text,
  &__disclaimer {
    p {
      margin: 0;
    }
  }
  &__main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 12px;
    padding-bottom: 15px;
    @include media-tablet {
      grid-template-columns: 1fr;
      gap: 15px;
      padding-bottom: 12px;
      text-align: center;
    }
  }
  &__link {
    justify-self: center;
    text-decoration-line: underline;
    color: $accent;
    @include media-tablet {
      font-size: 12px;
    }
    &--end {
      justify-self: end;
      grid-row: 1/span 2;
      grid-column: 3/4;
      text-align: right;
      @include media-tablet {
        grid-row: unset;
        grid-column: unset;
        justify-self: center;
      }
    }
  }
  &__unfold {
    position: relative;
    justify-self: center;
    padding: 0 25px 0 0;
    color: inherit;
    background: transparent;
    border: 0;
    cursor: pointer;
    @include media-tablet {
      order: 1;
    }
    &:not(:first-child) {
      @include media-tablet {
        margin-top: 15px;
      }
    }
    svg {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      width: 20px;
      height: 20px;
      color: $accent;
      transition: 0.3s;
    }
    &.active {
      svg {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  &__text {
    grid-row: span 2;
    @include media-tablet {
      grid-row: unset;
      justify-self: center;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 3px;
        @include media-tablet {
          margin-bottom: 5px;
        }
      }
    }
  }
  &__disclaimer {
    position: relative;
    display: none;
    padding-top: 20px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 2px;
      background: radial-gradient(50% 25% at 50% 75%, #fff 0%, rgb(255 255 255 / 0) 100%);
    }
    p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
