footer.footer
  .inner
    .footer__main
      .footer__text
        p ООО “Спорт-фит”
        p Copyright © 2006 - 2022
      a.footer__link(href='#') Политика конфиденциальности
      button.footer__unfold(data-open-text='Свернуть') Дисклеймер
      a.footer__link.footer__link--end(href='#') Продвижение сайтов «Генерация»
    .footer__disclaimer
      p *Дисклеймер рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
      p *Дисклеймер рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
      p *Дисклеймер рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
