// fonts
$font: 'Montserrat', 'Arial', sans-serif;
$bebas: 'Bebas Neue', 'Arial', sans-serif;

// colors
$black: #101318;
$lightBlack: #303030;
$accent: var(--accent);
$accentRgb: var(--accent-rgb);
$accent90: var(--accent90);
$accent80: var(--accent80);
$accent60: var(--accent60);
$accent40: var(--accent40);

// media
$mediaWidthDesktop: 1920px;
$mediaWidthLaptop: 1249px;
// $mediaWidthLaptop: 1610px;
$mediaWidthTablet: 767px;
$mediaWidthMobile: 320px;

@function get-vw($px-vw, $base-vw: 1920px) {
  @return calc(($px-vw * 100vw) / $base-vw);
}
