extends layouts/layout

block variables
  -
    const pageName = 'form-thx'
    const pageTitle = 'Спасибо'
    const onlyMain = true

block styles
  link(rel='stylesheet' href='assets/css/blocks/banner.css')

block content
  main.main.main--p0
    +banner('--thx')
